/* line 1, /Users/hrl7/fabnavi3/app/assets/stylesheets/player/player.scss */
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 9, /Users/hrl7/fabnavi3/app/assets/stylesheets/player/player.scss */
#cvs {
  transform: rotateZ(180deg);
  width: 100%;
  height: 100%;
}

/* line 15, /Users/hrl7/fabnavi3/app/assets/stylesheets/player/player.scss */
#navigation-image {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 20%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

