// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  width:200px;
}

.thumbnail img {
  transform:rotateZ(180deg);
  width:100%;
}
