@font-face {
  font-family: "ArialRoundedMTBoldBold";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/ArialRoundedMTBoldBold.ttf") format("truetype");
}
/* line 4, /Users/hrl7/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /Users/hrl7/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 4, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
body {
  background-color: #231815;
  color: #EFEFEF;
}

/* line 9, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
a,
a:active,
a:visited,
a:link {
  color: #EFEFEF;
  text-decoration: none;
}

/* line 17, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
a:hover {
  color: #966432;
  text-decoration: none;
}

/* line 22, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
/* line 20, /Users/hrl7/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/bourbon-4.2.2/app/assets/stylesheets/addons/_clearfix.scss */
.header::after {
  clear: both;
  content: "";
  display: table;
}

/* line 28, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.menu {
  margin-top: 20px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
/* line 89, /Users/hrl7/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
.menu:last-child {
  margin-right: 0;
}

/* line 35, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.menu-action {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 15.84234%;
  border-radius: 20px;
}
/* line 89, /Users/hrl7/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
.menu-action:last-child {
  margin-right: 0;
}
/* line 37, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.menu-action img {
  width: 100%;
  background-color: #EFEFEF;
}

/* line 45, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.current-page img {
  background-color: #F5BE17;
}

/* line 51, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.nav-action img {
  border: solid 4px #EFEFEF;
  border-radius: 20px;
}

/* line 56, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.nav-action :hover {
  border: solid 4px #E1B22B;
}

/* line 60, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.selected-nav-action img {
  border: solid 4px #F5BE17;
  border-radius: 20px;
}

/* line 66, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 89, /Users/hrl7/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
.logo:last-child {
  margin-right: 0;
}

/* line 71, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.avatar {
  max-width: 400px;
  max-height: 400px;
}

/* line 78, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.nav {
  margin-top: 30px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, /Users/hrl7/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/bourbon-4.2.2/app/assets/stylesheets/addons/_clearfix.scss */
.nav::after {
  clear: both;
  content: "";
  display: table;
}
/* line 81, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.nav .notice {
  position: relative;
  border: 10px outset #D78324;
  float: left;
  font-size: 20pt;
  margin: 10px;
  padding: 10px 30px;
  background-color: #3D3A39;
}
/* line 83, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.nav .notice .pin {
  margin: 0 auto;
  position: absolute;
  width: 80%;
  bottom: 45pt;
}

/* line 99, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.belt {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #966432;
  padding-bottom: 20px;
}
/* line 20, /Users/hrl7/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/bourbon-4.2.2/app/assets/stylesheets/addons/_clearfix.scss */
.belt::after {
  clear: both;
  content: "";
  display: table;
}

/* line 104, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.search-bar {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  height: 28px;
}
/* line 111, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.search-bar form {
  position: absolute;
  right: 0;
  margin-right: 2.5%;
  width: 26.66667%;
  background-color: white;
  border-radius: 4px;
  box-shadow: none;
}
/* line 120, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.search-bar form input {
  box-shadow: none;
  line-height: 28px;
  background: none;
  border: none;
  width: 80%;
  font-size: 14pt;
  float: right;
  font-style: italic;
}
/* line 130, /Users/hrl7/Project/Fabnavi/app/assets/stylesheets/application/application.scss */
.search-bar form .search-icon {
  margin: 5px 0;
  margin-left: 5px;
  height: 28px;
  width: 28px;
  display: block;
  background: url("/images/search_icon.png") no-repeat scroll 0 0;
}
