
@mixin editor {
  div#editor {
    z-index : 2;
    top : 0px;
    width : 5000px;
    position : fixed;
    background-color:rgba(0,0,0,0.6);

    li {
      float:left;
      position:relative;
      border: white 1px solid;
      list-style:none;
      margin: {
        left:30px;
        top:20px;
        bottom:20px;
      }
      img {
        transform:rotateZ(180deg);
      }
    }
    .selected {
      border: yellow 1px solid;
    }
  }
}
