
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/OpenSans-Light-webfont.woff");
}

.thumbnail {
  width :280px;
  height:210px;
}

button {
  font-family: 'Open Sans Light', Helvetica, sans-serif;  
  opacity:0.4;
}

body {
  padding: 0;
  margin: 0;
  background-color: #B0B0B0;
  font-family: 'Open Sans Light', Helvetica, sans-serif;  
  font-size : 14px;
  font-weight: 400;
}

#header {
  width:280px;
  height:50px;
  background-color:#F0F0F0;
  position:relative;
  top:100px;
  right:200px;
  float:right;
  #author_name {
    text-align:center;
  }
  #author_email {
    display:none;
  }
  #signin {
    height:40px;
    width:280px;
  }
  #signout {
    height:40px;
    width:280px;
  }
}

#project-list {
  top:230px;
  position:relative;
  margin: {
    left: 40px;
    right:40px;
  }
  li {
    width :280px;
    height:210px;
    float:left;
    list-style-type:none;
    margin:{
      left:30px;
      
    }
  }
}
li {
 
}


li {
  border : 2px white solid;
}
.selectedItem{
  border : 2px red solid;
}

.data {
  user-select:none;
}
tbody {
  user-select:none;
}
tr {
  user-select:none;
}
td {
  user-select:none;
}

.annotations {
  position:absolute;
}

#panel {
  float:left;
  position: absolute;
  left:80%;
  top:10px;
}

