
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/OpenSans-Light-webfont.woff");
}

.thumbnail {
  width :280px;
  height:210px;
}

button {
  font-family: 'Open Sans Light', Helvetica, sans-serif;  
  opacity:0.4;
}

body {
  padding: 0;
  margin: 0;
  background-color: #B0B0B0;
  font-family: 'Open Sans Light', Helvetica, sans-serif;  
  font-size : 14px;
  font-weight: 400;
}
#header {
  width:280px;
  height:50px;
  background-color:#F0F0F0;
  position:relative;
  float:right;
  top:150px;
  #author_name {
    text-align:center;
  }
  #author_email {
    display:none;
  }
  #signin {
    height:40px;
    width:280px;
    left:80%;
  }
  #signout {
    height:40px;
    width:280px;
    left:80%;
  }
}

.data {
  user-select:none;
}
tbody {
  user-select:none;
}
tr {
  user-select:none;
}
td {
  user-select:none;
}

.annotations {
  position:absolute;
}

#panel {
  float:left;
  position: absolute;
  left:80%;
  top:10px;
}

