@import "common";
@import "editor";

@font-face {
   font-family: "Open Sans Light";
   font-style: normal;
   font-weight: normal;
   src: url("/fonts/OpenSans-Light-webfont.woff");
}

@include editor;
#cvs {
  width: 100%;
  height: 100%;
  z-index:1;
  transform : rotatez(180deg);
}

#panel{
 position:fixed;
 left:20px;
  z-index:2;
  background-color:rgba(0,0,0,0.6);
}

button {
  opacity:0.4;
}

body {
  @include basic_body;
}

.hide {
  display:none;
}



#panel {
 left:50px;
}

.data {
  user-select:none;
}
tbody {
  user-select:none;
}
tr {
  user-select:none;
}
td {
  user-select:none;
}



