!!!
/
  This Source Code Form is subject to the terms of the Mozilla Public
  \- License, v. 2.0. If a copy of the MPL was not distributed with this file,
  \- You can obtain one at http://mozilla.org/MPL/2.0/.
%html
  %head
    %meta{charset: "utf-8"}/
    %title{"data-l10n-id" => "title"} PlayController : FabNavi
    %script{src:"https://login.persona.org/include.js"}
    = stylesheet_link_tag 'common', 'play','record'
    = javascript_include_tag 'jquery', 'common','Keybind','WorkQueue','ProjectList','CameraAPI','Auth', 'Fabnavi'
    :javascript
      AUTHOR_EMAIL= #{@email};
      AUTHOR_NAME= #{@name};
    %meta{content: "width=device-width, user-scalable=no", name: "viewport"}/
  %body{onload: "Fabnavi.showProjectList()"}
    #header
      #author_name
      #author_email
      %input#signin{type:"button",value:"SignIn"}
      %input#signout{type:"button",value:"SignOut"}
    #projectList
      %ul#project-list
      %li#__newProject__ New Project
