= partial 'layouts/header'
=stylesheet_link_tag 'refactored','jquery-ui','jquery-uistructure','jquery-uitheme'
= partial 'layouts/include'
body onload="Fabnavi.play()"
  = partial 'layouts/ref_content',:locals=> {:project => @projectData,:pictures=>@picturesData}

