= partial 'layouts/header'
= javascript_include_tag 'jquery', 'common', 'Keybind','CachedImageList','WorkQueue','PlayConfig','Player','Calibrator','Recorder','CameraAPI','list','PhotoList','ConfigList', 'Fabnavi'
body onload="Fabnavi.play()"
  =partial 'layouts/content'
