=partial 'layouts/header'
=stylesheet_link_tag 'play','common'
=javascript_include_tag 'jquery', 'common', 'Keybind','CachedImageList','PlayConfig','Player','Calibrator','list','PhotoList', 'Fabnavi'
body onload="Fabnavi.play()"
  =partial 'layouts/content' ,:locals => {:project=>@projectData,:pictures=>@picturesData}
