!!!
/
  This Source Code Form is subject to the terms of the Mozilla Public
  \- License, v. 2.0. If a copy of the MPL was not distributed with this file,
  \- You can obtain one at http://mozilla.org/MPL/2.0/.
%html
  %head
    %meta{charset: "utf-8"}/
    %title{"data-l10n-id" => "title"} PlayController : FabNavi
    = stylesheet_link_tag 'common', 'play','record'
    = javascript_include_tag 'jquery', 'common', 'Keybind','WorkQueue','PlayConfig','Player','Calibrator','Recorder','CameraAPI','list','PhotoList','ConfigList', 'Fabnavi'
    %meta{content: "width=device-width, user-scalable=no", name: "viewport"}/
    :javascript 
      PROJECT_DATA = #{@projectData.to_json}
  %body{onload: "Fabnavi.run()"}
    #contents
      %img#photo{height: "3715", width: "4928", crossorigin:"anonymous"}/
      %canvas#cvs
      #counter
      #arrow ▶
      #panel
        #param
          #tab.tab_block 
            %div#property_tab.tab Property
            %div#edit_tab.tab Edit Project
            %div#calibrate_tab.tab Calibration
          #property.show
            %div#projectName TEST_PROJECT
            %div#projectDiscription TEST_DISCRIPTION
            %div#author TEST_AUTHOR
          #editProject.hide
            %input#takePicture{type:"button",value:"takePicture"}/
            %input#shootMode{type:"button",value:"shootMode"}/
            %input#setThumbnail{type:"button",value:"set this Slide as Tumbnail"}/
            %input#savePlaylist{type: "button", value: "save PlayList"}/
            %input#delete{type: "button", value: "delete slide"}/
          #calibrate.hide
            %input#zoomIn{type:"button",value:"+"}/
            %input#zoomOut{type:"button",value:"-"}/
            %input#aspectShift{type:"button",value:"change Aspect Ratio"}/
            %input#save{type: "button", value: "save config"}/
        #info
        %img#note{alt: ""}/
        %ul#processes
