= partial 'layouts/header'
=stylesheet_link_tag 'play','common'
=javascript_include_tag 'jquery',
  'refactored/imageConverter',
  'refactored/imageList',
  'refactored/detail',
  'refactored/viewConfig',
  'refactored/key',
  'refactored/camera',
  'refactored/server',
  'refactored/CalibrateController',
  'refactored/UIPanel',
  'refactored/director',
  'refactored/mainView',
  'refactored/fabnavi'
body onload="Fabnavi.run()"
  = partial 'layouts/ref_content',:locals=> {:project => @projectData,:pictures=>@picturesData}

