= partial 'layouts/header'
=stylesheet_link_tag 'play','common'
=javascript_include_tag 'jquery', 'common', 'Keybind','CachedImageList','WorkQueue','PlayConfig','Player','Calibrator','Recorder','CameraAPI','list','PhotoList', 'Fabnavi'
body onload="Fabnavi.update()"
  = partial 'layouts/content',:locals=> {:project => @projectData,:pictures=>@picturesData}

