$black : #231815;
$brown : #966432;
$white : #EFEFEF;
$tp-black :rgba(54, 48, 48, 0.49);
$selected-color : #F5BE17;
$hover-color:#E1B22B;

$ct-width : 80%;
$belt-height : 28px;
  @font-face{
    font-family : "ArialRoundedMTBoldBold";
    font-style: normal;
    font-weight: normal;
    src:url("/fonts/ArialRoundedMTBoldBold.ttf") format('truetype');
  }
  @mixin base-font {
    font-family : "ArialRoundedMTBoldBold";
}
