@import "../var.scss";
body {
  background-color: $black;
  color: $white;
}

a,
a:active,
a:visited,
a:link {
  color: $white;
  text-decoration: none;
}

a:hover {
  color: $brown;
  text-decoration: none;
}

.header {
  width: $ct-width * 0.9;
  margin: 0 auto;
}

.menu {
  float: right;
  position: relative;
  width: 70%;
  height: 100%;
  margin-top: 50px;
}

.menu-action {
  float: left;
  margin-left: $ct-width / 10;
}

.nav-action {
  border:solid 2px white;
}
.selected-nav-action {
  border:solid 2px red;
}

.logo {

}

.belt {
  width: 100%;
  background-color: $brown;
  margin-top: 10px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  float:left;
}
.search-bar {
  width: $ct-width;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: $belt-height;
  form {
    position: absolute;
    right: 0;
    margin-right: (100% - $ct-width) / 8;
    width: $ct-width / 3;
    background-color: white;
    border-radius: 4px;
    box-shadow: none;

    input {
      box-shadow: none;
      line-height: $belt-height;
      background: none;
      border: none;
      width: 80%;
      font-size:14pt;
      float:right;
      font-style:italic;
    }
    .search-icon {
      margin:5px 0;
      margin-left : 5px;
      height:$belt-height;
      width:$belt-height;
      display:block;
      background: url("/images/search_icon.png") no-repeat scroll 0 0;;
    }
  }
}
