=javascript_include_tag 'jquery',  'jquery-ui/jquery-ui.js',  'ImageConverter',
  'ImageList',  'Detail',  'ViewConfig',  'ThumbnailViewer',  'Key',
  'Publisher',
  'CameraControll',  'Server',  'CalibrateController',  'ImageUploadQueue',
  'UIPanel',  'Director',  'MainView',  'Main'
